body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  color: #111;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 40px 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  margin-top: 30px;
  font-size: 25px;
  align-items: center;
  text-align: center;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile img {
  width: 100%;
  /* max-width: 400px; */
  height: 250px;
  border-radius: 5%;
  object-fit: cover;
  border: 2px solid #e0e0e0;
}

.buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

a.button {
  display: block;
  text-align: center;
  padding: 14px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  transition: 0.2s ease;
}

a.primary {
  background: #1a73e8;
  color: white;
}

a.primary:hover {
  background: #1a73e8d2;
}

a.secondary {
  background: #039be5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 18px;
}

.footer a {
  text-decoration: none;
  color: #1a73e8;
  font-weight: 500;
}

.footer i {
  margin-right: 6px;
  vertical-align: middle;
}

.footer {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}
